body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.storyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#paintImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.links {
    text-align: center;
}

.links h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.links a:hover {
    color: #007bff;
}
